@charset 'UTF-8';
@import 'mixins';

$trans: all .2s ease-in-out;
$green: #3AC1B0;
$blue: #103EB4;

@include font-face('ProximaNova', '../fonts/ProximaNova-Bold/ProximaNova-Bold', bold); 
@include font-face('ProximaNova', '../fonts/ProximaNova-Regular/ProximaNova-Regular', normal); 

::selection {
	background: $green;
	color: #fff;
}

body {
	font-family: 'ProximaNova', sans-serif;
	font-size: 16px;
	color: #000;
}

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
	margin-top: 0;
}

.btn,
input,
textarea,
select,
button:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	display: inline-block !important;
	transition: $trans !important;
	text-decoration: none !important;
	border: 0 !important;
	cursor: pointer !important;
	color: #fff !important;
	font-size: 19px !important;
	padding: 15px 29px !important;
	background: $blue !important;

	&:focus {
		outline: none !important;
	}

	&:hover {
		box-shadow: 0 12px 15px -10px rgba(#000, 0.5) !important;
	}

	&-blue {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		background: rgba(#103EB4, 0.1) !important;
		color: $blue !important;
		height: auto !important;
		border: 0 !important;
		padding-top: 12px !important;
		padding-bottom: 12px !important;
		margin-top: 20px !important;

		&:hover {
			background: rgba(#103EB4, 0.1) !important;
		}
	}

	&-green {
		background: $green !important;
	}
}

h2 {
	@include r(1023) {
		font-size: 35px;
	}

	@include r(767) {
		font-size: 29px;
	}

	font-size: 41px;
	line-height: 1.27;
	text-align: center;
	margin-bottom: 40px;
}

.container {
	@include r(1190) {
		padding: 0 20px;
	}

	margin: 0 auto;
	max-width: 1150px;
}

.green {
	color: $green;
}

.blue {
	color: $green;
}

.main {
	background: $blue;
	color: #fff;

	.container {
		@include r(1023) {
			display: block;
		}

		display: flex;

		& > div {
			@include r(1023) {
				width: 100%;
			}

			width: 50%;
			position: relative;

			&:first-child {
				@include r(767) {
					padding: 30px 0;
				}

				padding: 82px 0;
			}

			&:last-child {
				position: relative;

				.list {
					@include r(1023) {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
					}
	
					display: flex;
					align-items: flex-end;
					height: 100%;

					& > div {
						@include r(1023) {
							padding-left: 20%;
						}

						@include r(767) {
							padding-left: 40px;
							padding-bottom: 5px;
						}

						width: 50%;
						position: relative;
						padding-bottom: 25px;
						font-size: 12px;
	
						strong {
							font-size: 17px;
							display: inline-block;
							margin-bottom: 5px;
							line-height: 1.09;
						}
					}
				}

				img {
					@include r(1279) {
						width: 119%;
					}

					@include r(1023) {
						width: 100%;
						position: static;
					}

					position: absolute;
					bottom: 0;
					right: 0;
					width: 123%;
					max-width: initial;
					user-select: none;
					pointer-events: none;
				}
			}
		}
	}

	&__top {
		@include r(767) {
			display: block;

			span {
				display: block;
				margin-top: 10px;
			}
		}

		display: flex;
		align-items: center;
		margin-bottom: 11px;
	}

	&__online {
		@include r(767) {
			display: inline-block;

			span {
				margin-top: 0;
			}
		}

		padding: 5px 15px;
		border: 1.5px solid #27CDC2;
		border-radius: 30px;
		margin-right: 17px;

		span {
			display: inline-block;
			width: 10px;
			height: 10px;
			background: $green;
			border-radius: 50%;
			box-shadow: 0 0 0 4px rgba(58, 193, 176, 0.2);
			margin-right: 8px;
		}
	}

	h1 {
		@include r(767) {
			text-align: center;
			margin-top: 15px;
		}

		font-weight: bold !important;
		line-height: 1.09 !important;
	}

	&__subtitle {
		@include r(767) {
			text-align: center;
			font-size: 15px;
			font-weight: normal;
		}

		font-weight: bold;
		font-size: 20.5px;
		line-height: 1.51;
		margin-bottom: 25px;
	}

	p {
		@include r(767) {
			br {
				display: none;
			}
		}

		padding-left: 18px;
		border-left: 1px solid #fff;
		line-height: 1.3;
		font-size: 15px;
		margin-bottom: 34px;
	}

	&__bottom {
		@include r(767) {
			display: block;
			text-align: center;
		}

		display: flex;
		align-items: center;

		.timer {
			position: relative;
			top: -10px;
		}

		.days {
			position: absolute;
			bottom: -15px;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: center;
			font-size: 12px;

			span:nth-child(2) {
				position: relative;
				left: 3px;
				margin: 0 40px;
			}
		}

		.time {
			font-weight: bold;
			color: $green;
			font-size: 39px;
		}
	}

	.btn {
		@include r(767) {
			margin-right: 0;
			margin-bottom: 30px;
		}

		margin-right: 20px;
	}
}

.icons {
	@include r(767) {
		padding: 45px 0;
	}

	padding: 69px 0;

	.container {
		@include r(1023) {
			flex-wrap: wrap;
		}

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item {
		@include r(1279) {
			font-size: 15px;
		}

		@include r(1023) {
			width: 50%;
			margin-bottom: 20px;
		}

		@include r(767) {
			width: 100%;
			
			br {
				display: none;
			}
		}

		display: flex;
		align-items: center;
		font-size: 17px;
		line-height: 1.47;
	}

	&__icon {
		@include r(767) {
			flex-shrink: 0;
		}

		width: 70px;
		height: 70px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #F3F5FB;
		margin-right: 16px;
	}
}

.goals {
	@include r(1279) {
		padding: 0 0 60px;
	}

	@include r(767) {
		padding: 0 0 25px;
	}

	padding: 60px 0;

	.container {
		.flex {
			@include r(1023) {
				display: block;
			}

			@include r(767) {
				display: flex;
				flex-direction: column;
			}

			display: flex;
			justify-content: space-between;

			& > div {
				@include r(1023) {
					width: 100%;
				}

				width: 50%;
	
				&:first-child {
					@include r(1023) {
						margin-bottom: 40px;
					}

					@include r(767) {
						order: 2;
						display: block;
					}
					
					display: flex;
					justify-content: space-between;
					text-align: center;
					line-height: 1.44;

					& > div {
						@include r(767) {
							width: 100%;
							margin-bottom: 40px;

							&:last-child {
								margin-bottom: 0;
							}
						}

						width: 50%;
					}

					iframe {
						@include r(1279) {
							width: 95% !important;	
						}

						margin-bottom: 20px;
					}
				}
			}
		}
	}

	p {
		@include r(1279) {
			padding-left: 20px;
		}

		@include r(767) {
			padding-left: 0;
		}

		font-size: 15px;
		margin-bottom: 8px;
		padding-left: 50px;

		strong {
			display: inline-block;
			margin-bottom: 12px;
			font-size: 20px;
			margin-top: 10px;
		}
	}


	.btn {
		@include r(1279) {
			margin-left: 20px;
		}

		@include r(767) {
			margin-left: 0;
			margin-bottom: 40px;
		}

		margin-top: 34px;
		margin-left: 50px;
	}
}

.speakers {
	background: #F3F5FB;
	padding: 60px 0;
}

.speaker {
	@include r(767) {
		display: block;
	}

	display: flex;
	margin-bottom: 78px;

	&:last-child {
		margin-bottom: 0;
	}

	&__photo {
		@include r(767) {
			width: 100%;
			margin-bottom: 20px;
		}

		width: 268px;
		flex-shrink: 0;
		margin-right: 30px;

		img {
			width: 100%;
		}
	}

	&__name {
		font-weight: bold;
		font-size: 28px;
		margin-bottom: 12px;
	}

	&__com {
		font-size: 15px;
		margin-bottom: 15px;
	}

	p {
		@include r(767) {
			br {
				display: none;
			}
		}

		font-size: 17px;
		line-height: 1.44;
		margin-bottom: 15px;
	}

	&__social {
		display: flex;
		margin-top: 55px;

		span {
			display: block;
			font-size: 14px;
			margin-right: 20px;
		}

		a {
			margin-right: 15px;
		}
	}
}

.program {
	padding: 60px 0;

	&__item {
		@include r(767) {
			display: block;
		}

		display: flex;
		margin-bottom: 63px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__speaker {
		@include r(1023) {
			min-width: 30%;
		}

		@include r(767) {
			display: flex;
			align-items: center;
		}

		min-width: 20%;

		&-photo {
			@include r(767) {
				margin-right: 15px;
			}

			margin-bottom: 14px;
		}

		&-name {
			font-size: 12px;
			margin-bottom: 20px;

			strong {
				display: inline-block;
				font-size: 17px;
				margin-bottom: 3px;
			}
		}

		&-com {
			@include r(767) {
				display: none;
			}

			font-size: 12px;
			color: #717070;
			line-height: 1.33;
		}
	}

	&__list {
		@include r(767) {
			padding: 10px 0 10px 20px;
		}

		border-left: 2px solid #000;
		padding: 20px 0 20px 40px;

		p {
			@include r(767) {
				font-size: 15px;
			}

			margin-bottom: 10px;
			font-size: 17px;
			line-height: 1.47;

			strong {
				margin-bottom: 20px;
				font-size: 20px;
				line-height: 1.25;
			}
		}
	}

	.btn {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

.webinar {
	padding: 60px 0;
	background: #F3F5FB;

	h2 {
		margin-bottom: 80px;
	}

	&__list {
		@include r(1023) {
			display: block;
		}

		display: flex;
		justify-content: space-between;
	}

	&__name {
		@include r(1023) {
			margin-top: 40px;
		}

		font-weight: bold;
		font-size: 20px;
		line-height: 1.25;
		padding-bottom: 31px;
		margin-bottom: 25px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 2px;
			width: 70px;
			background: $blue;
		}
	}

	p {
		@include r(1023) {
			br {
				display: none;
			}
		}

		line-height: 1.31;
	}
}

.organization {
	padding: 60px 0;

	.flex {
		@include r(1023) {
			display: block;
		}

		display: flex;

		& > div {
			@include r(1023) {
				width: 100%;
			}

			width: 50%;
		}
	}

	p {
		margin-bottom: 20px;
		line-height: 1.26;
	}
	
	.bottom {
		@include r(1023) {
			margin-bottom: 40px;
		}

		@include r(767) {
			display: block;
			text-align: center;
		}

		display: flex;
		margin-top: 40px;

		div {
			@include r(767) {
				border: 0;
				position: relative;
				padding-bottom: 20px;
				margin-bottom: 20px;

				br {
					display: none;
				}

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 30%;
					background: $blue;
					height: 2px;
					transform: translateX(-50%);
				}
			}

			border-right: 2px solid #B3ADAD;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 20px;
			margin-right: 20px;
			line-height: 1.47;

			&:last-child {
				border: 0;
			}
		}
	}
}

.partners {
	@include r(767) {
		padding: 0 0 45px;
	}

	padding: 60px 0;

	.microsoft {
		text-align: center;
		margin-bottom: 60px;
		
		span {
			display: block;
		}

		img {
			width: 181px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		img {
			@include r(767) {
				width: 74px;
			}

			@include r(374) {
				width: 69px;
			}

			width: 143px;
		}
	}
}

.registration {
	background: $blue;
	padding: 52px 0;
	color: #fff;

	.container {
		@include r(767) {
			text-align: center;
		}

		position: relative;
	}

	h3 {
		font-weight: bold;
		font-size: 28px;
		line-height: 1.36;
		margin-bottom: 11px;
	}

	p {
		font-size: 20px;
		line-height: 1.39;
		margin-bottom: 38px;
	}

	.book {
		@include r(1023) {
			display: block;
			position: static;
			transform: none;
			margin-top: 40px;
		}

		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		user-select: none;
		pointer-events: none;
	}

	.btn {
		background: #fff !important;
		color: $blue !important;
		font-weight: bold !important;
	}
}